.Main {
}

input {
    border-radius: 16px;
    font-size: 32px;
    background-color: inherit;
    border: #888 solid 2px;
    padding: 8px 16px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.hidden {
    opacity: 0;
}
