.Main {
}

.TopBar {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.TopBar > .GoogleStatus {
    margin-left: auto;
}

.InputField {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
}

.InputField > button {
    border-radius: 16px;
}

a {
    text-decoration: none;
}
