.GoogleStatus {
    display: flex;
    gap: 8px;
    align-items: center;
}

.GoogleIcon {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: var(--color-front-primary) 2px solid;
    width: 32px;
    height: 32px;
    padding: 0 1px 2px 0;
}
